.daily_block {
  display: flex;
  background-color: #ccccffb4;
  justify-content: space-between;
  padding: 20px 100px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.sideBar {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 0 30px;
  cursor: pointer;
}
.daily_block p {
  margin: 5px 0;
}
.temp span {
  margin: 0 10px;
}
main {
  width: 1200px;
  height: 500px;
  background-color: #ccccffb4;
  margin: auto;
}
